.score {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;

    color: #ffffe0;
}

.wrap {
    position: relative;

    width: 90vmin;
    height: 90vmin;

    max-width: 500px;
    max-height: 500px;
}
