* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    overflow: hidden;

    background: #353535;
}
