.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.menu a {
    color: #ffffe0;
    text-decoration: none;
    background: #ffffff36;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
    line-height: 25px;

    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.menu a:hover {
    scale: 1.03;
}

.menu button {
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 20px;
    height: 35px;

    color: #ffffe0;
    background: #ffffff79;
    transition: 0.3;
}

.menu button:hover {
    cursor: pointer;
    scale: 1.02;
}

@media (max-width: 465px) {
    .menu {
        flex-direction: column;
    }
}
