.tile {
    --size: 12.5%;
    --row: 0;
    --column: 0;

    position: absolute;
    box-sizing: border-box;

    width: var(--size);
    height: var(--size);

    top: calc(var(--row) * var(--size));
    left: calc(var(--column) * var(--size));

    cursor: pointer;
    border: 3px solid #353535;

    border-radius: 50%;
    transition-property: top, left;
    transition-duration: 140ms;
    animation: show 50ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
    }
}

.tile.hide {
    opacity: 0;
    animation: hide 200ms;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
}
