.tile1 {
    background: #ffe4b2;
}

.tile2 {
    background: #ffa07a;
}

.tile3 {
    background: #98fb98;
}

.tile4 {
    background: #7ec8e3;
}

.tile5 {
    background: #4d6fac;
}

.tile6 {
    background: #9370db;
}

.tile7 {
    background: #ffb6c1;
}

.tile.selected {
    border-color: #ffffe0;
}
